::before,
::after {
  box-sizing: border-box;
}

body {
  background-image: url(./images/background\ table\ 2.jpeg);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: 12rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
}

.deck {
  background-image: url(./images/Background\ cards.jpeg);
  background-size: 100px;
  height: 150%;
  width: 150%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: white;
  user-select: none;
}

.text {
  font-size: 55px;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-image: url(./images/Background\ frontcard.jpeg);
  background-size: 125px;
  background-position: center;
  position: relative;
  height: 150%;
  width: 150%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1.5rem;
}

.card::before {
  top: 0.5rem;
  left: 0.5rem;
}

.card::after {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
}
